.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#party_library {
  border: solid 1px #CCC;
}

.servant_label > div {
  float: left;
}

.servant_label > .slot {
  width: 2em;
}

.servant_commands {
  margin-top: 10px;
  background-color: rgb(196, 236, 249);
}

.sorting_placeholder {
  background-color: rgb(221, 255, 87);
}

.commands .commandcard {
  float: left;
  width: 50px;
  height: 50px;
  background-color: #CCC;
}
.servant_label .label {
  float: left;
  width: 50px;
  min-height: 50px;
  background-color: #F2F2F2;
}

.commands .commandcard {
  margin-left: 5px;
}
.commands > .commandcard:first-of-type {
  margin-left: 0;
}

.servant_label .label {
  margin-left: 5px;
}
.servant_label > .label:first-of-type {
  margin-left: 0;
}

.commands .commandcard.quick {
  background-color: #00CC00;
}
.commands .commandcard.quick:before {
  content: "Quick";
}
.commands .commandcard.arts {
  background-color: #0000CC;
  color: #FFFF00;
}
.commands .commandcard.arts:before {
  content: "Arts";
}
.commands .commandcard.buster {
  background-color: #CC0000;
}
.commands .commandcard.buster:before {
  content: "Buster";
}

.commands .commandcard.used {
  opacity: 0.2;
}

#party_register > .servant_info {
  padding-bottom: 10px;
  background-color: #EEE;
}
#party_register > .servant_info:nth-child(even) {
  background-color: #CCE;
}

input.commandcardnum {
  width: 30px;
}

#party_encoded_url {
  width: 500px;
  height: 90px;
}
